$font_alethia: ('Alethia Next', sans-serif);
$font_aldrich: ('Aldrich', sans-serif);
$font_inter: ('Inter', sans-serif);
$font_spartan: ('League Spartan', sans-serif);
$font_museo: ('MuseoModerno', cursive);
$font_orbitron: ('Orbitron', sans-serif);
$font_rajdhani: ('Rajdhani', sans-serif);
$font_roboto: ('Roboto', sans-serif);