// Hero EXPLORE button - START
.nft_polygon_shadow {
	float: left;
	margin: -17.5px 0 0 -23px;
	width: 300px;
	height: 100px;
	border-radius: 150px / 50px;
	background-color: rgba(255, 86, 246, .51);
	filter: blur(107px);
}

.nft_polygon {
	position: relative;
	clip-path: polygon(0 22px, 0 65px, 212px 65px, 254px 43px, 254px 0, 42px 0);
	width: 254px;
	height: 65px;
	background: linear-gradient(-272.52deg, #FFA6FA 47.49%, #3C79D5 98.81%);
	border-bottom-left-radius: 5px;
	border-top-right-radius: 5px;
}

.nft_polygon1 {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	clip-path: polygon(2px 23px, 2px 63px, 211px 63px, 252px 42px, 252px 2px, 42px 2px);
	background: linear-gradient(92.23deg, #406AFF 0%, #3BACE2 0%, #B936EE 50%, #FF56F6 79%);
	border-bottom-left-radius: 10px;
	border-top-right-radius: 10px;
	display: flex;
	text-align: right;
}

.nft_explore {
	display: flex;
	margin: auto;
	color: rgba(255, 255, 255, 1);
	column-gap: 11px;
	width: 100%;
	justify-content: flex-end;
	padding-right: 32px;

	font: {
		family: $font_orbitron;
		size: calc(20rem / 16);
		weight: 700;
	}
}
// Hero EXPLORE button - END

// Hero PLACE BID button - START
.nft_hero_placebid {
	font: {
		family: $font_rajdhani;
		size: calc(17.69rem / 16);
		weight: 600;
	}

	padding: 3px 8px 0 10px;

	&_btn {
		width: 100%;
		height: 100%;
		background: linear-gradient(92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
		border-radius: 2.21px;
		border: none;
		outline: none;
		padding: 0;
		align-items: center;

		&_border {
			width: 119.39px;
			height: 37.59px;
			background: linear-gradient(104deg, #3C79D4 0%, #FFA6FA 100%);
			margin-top: 20px;
			padding: 2.21px;
			border-radius: 2.21px;
		}
	}
}
// Hero PLACE BID button - END

// NFT Top Now PLACE BID button - START
.nft_topnow_placebid {
	font: {
		family: $font_rajdhani;
		size: calc(23.04rem / 16);
		weight: 600;
	}

	padding: 3px 12px 0 10px;

	&_btn {
		width: 100%;
		height: 100%;
		background: linear-gradient(92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
		border: none;
		outline: none;
		padding: 0;
		align-items: center;

		&_border {
			width: 155.52px;
			height: 48.96px;
			background: linear-gradient(104deg, #3C79D4 0%, #FFA6FA 100%);
			margin-top: 20px;
			padding: 2.21px;
		}
	}
}
// NFT Top Now PLACE BID button - END