// HERO Bid Description Details START
.nft_hero {
	&_bid_shadow {
		float: right;
		margin: -140px 0 0 0;
		width: 200px;
		height: 200px;
		border-radius: 100px;
		background-color: rgba(255, 86, 246, 0.51);
		filter: blur(70px);
		z-index: -1;
	}

	&_bid {
		position: absolute;
		width: 336px;
		height: 181px;
		top: 360px;
		right: 0;
		clip-path: polygon(0 46px, 0 181px, 336px 181px, 336px 0, 46px 0);
		background: linear-gradient(110deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
		backdrop-filter: blur(20px);
	
		border: {
			bottom-left-radius: 8.84px;
			bottom-right-radius: 8.84px;
			top-right-radius: 8.84px;
		}
	}

	&_bid1 {
		position: absolute;
		width: 100%;
		height: 100%;
		bottom: 0;
		right: 0;
		clip-path: polygon(2px 47px, 2px 179px, 334px 179px, 334px 2px, 47px 2px);
		background: linear-gradient(90deg, rgba(255, 255, 255, 1) -1.52%, rgba(255, 255, 255, 0.24) 104.35%);
		filter: opacity(10%);
		padding: 28px 21px 20px 23px;
	
		border: {
			bottom-left-radius: calc(8.84px * 1.6);
			bottom-right-radius: calc(8.84px * 1.6);
			top-right-radius: calc(8.84px * 1.6);
		}
	}

	&_bid_details {
		position: absolute;
		bottom: 108px;
		right: 21px;
		margin: 0;
		width: 292px;
		height: 134px;
	}

	&_artname {
		font: {
			family: $font_rajdhani;
			size: calc(17.69rem / 16);
			weight: 700;
		}

		line-height: calc(35.37rem / 16);
	}

	&_nickname {
		font: {
			family: $font_rajdhani;
			size: calc(15.48rem / 16);
			weight: 600;
		}

		line-height: calc(35.37rem / 16);
	}

	&_theme_title {
		font: {
			family: $font_rajdhani;
			size: calc(11.05rem / 16);
			weight: 600;
		}

		line-height: calc(35.37rem / 16);
		margin: 10px 0 -10px 0;
	}

	&_logo_ethereum {
		margin-left: -4px;
	}

	&_price_ethereum {
		font: {
			family: $font_orbitron;
			size: calc(9.72rem / 16);
			weight: 700;
		}

		padding: {
			left: 2px;
			right: 6px;
		}
	}

	&_price_usd {
		font: {
			family: $font_rajdhani;
			size: calc(11.05rem / 16);
			weight: 400;
		}
	}

	&_auction_time {
		font: {
			family: $font_rajdhani;
			size: calc(17.69rem / 16);
			weight: 600;
		}

		line-height: calc(35.37rem / 16);
		margin: -10px 0 0 0;
	}

	&_auction_time_unit {
		font: {
			family: $font_rajdhani;
			size: calc(11.05rem / 16);
			weight: 500;
		}

		line-height: calc(35.37rem / 16);
		margin: -17px 0 0 0;
	}
}
// HERO Bid Description Details END