// HERO Bid Description Details START
.nft_hero {
	&_bid_shadow {
		float: right;
		margin: -140px 0 0 0;
		width: 200px;
		height: 200px;
		border-radius: 100px;
		background-color: rgba(255, 86, 246, 0.51);
		filter: blur(70px);
		z-index: -1;
	}

	&_bid_polygon_blured {
		width: 336px;
		height: 181px;
		background: inherit;
		border-radius: 8px;
		position: absolute;
		clip-path: polygon(0 46px, 0 181px, 336px 181px, 336px 0, 46px 0);
		overflow: hidden;
		top: 360px;
		right: 0;

		&::before {
			position: absolute;
			content: '';
			background: inherit;
			width: 336px;
			height: 181px;
			box-shadow: inset 0 0 0 3000px rgba(150, 150, 150, 0.192);
			filter: blur(10px);
			border-radius: 8px;
			clip-path: polygon(0 46px, 0 181px, 336px 181px, 336px 0, 46px 0);
			backdrop-filter: blur(10px);
		}
	}

	&_bid_polygon_gradient {
		position: absolute;
		width: 335px;
		height: 181px;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
		clip-path: polygon(0 46px, 0 181px, 335px 181px, 335px 0, 46px 0);
		border: {
			width: 2px;
			style: solid;
			image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.28), rgba(255, 255, 255, 0)) 1;
		}
	
		&::before {
			position: absolute;
			content: '';
			background: linear-gradient(to right, rgba(153, 50, 204, 0.5), rgba(255, 255, 255, 0.2));
			width: 335px;
			height: 181px;
			left: 0;
			top: 0;
			filter: opacity(.5);
		}
	}

	&_bid_content {
		margin: 0;
		width: 292px;
		height: 134px;
		z-index: 1;

		&::before {
			position: absolute;
			content: '';
			width: 65px;
			height: 2px;
			top: 21px;
			left: -11px;
			transform: rotate(-45deg);
			background: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.28));
		}
	}

	&_artname {
		font: {
			family: $font_rajdhani;
			size: calc(17.69rem / 16);
			weight: 700;
		}
		line-height: calc(35.37rem / 16);
	}

	&_nickname {
		font: {
			family: $font_rajdhani;
			size: calc(15.48rem / 16);
			weight: 600;
		}
		line-height: calc(35.37rem / 16);
	}

	&_theme_title {
		font: {
			family: $font_rajdhani;
			size: calc(11.05rem / 16);
			weight: 600;
		}
		line-height: calc(35.37rem / 16);
		margin: 10px 0 -10px 0;
	}

	&_logo_ethereum {
		margin-left: -4px;
	}

	&_price_ethereum {
		font: {
			family: $font_orbitron;
			size: calc(9.72rem / 16);
			weight: 700;
		}
		padding: {
			left: 2px;
			right: 6px;
		}
	}

	&_price_usd {
		font: {
			family: $font_rajdhani;
			size: calc(11.05rem / 16);
			weight: 400;
		}
	}

	&_auction_time {
		font: {
			family: $font_rajdhani;
			size: calc(17.69rem / 16);
			weight: 600;
		}
		line-height: calc(35.37rem / 16);
		margin: -10px 0 0 0;
	}

	&_auction_time_unit {
		font: {
			family: $font_rajdhani;
			size: calc(11.05rem / 16);
			weight: 500;
		}
		line-height: calc(35.37rem / 16);
		margin: -17px 0 0 0;
	}
}
// HERO Bid Description Details END

// NFT Top Now Bid Description Details END
.nft_topnow {
	img {
		max-width: 420px;
	}

	&_bid_blured {
		width: 420px;
		height: 236px;
		// background: inherit;
		position: relative;
		// overflow: hidden;

		&::before {
			position: absolute;
			content: '';
			// background: inherit;
			width: 420px;
			height: 236px;
			// top: -25px;
			// left: -25px;
			// box-shadow: inset 0 0 0 3000px rgba(150, 150, 150, 0.192);
			// filter: blur(5px);
			backdrop-filter: blur(10px);
		}
	}

	&_bid_gradient {
		position: absolute;
		// top: 0;
		// left: 0;
		width: 420px;
		height: 236px;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
		border-width: 3px;
		border-style: solid;
		border-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.28), rgba(255, 255, 255, 0)) 1;
		
		&::before {
			position: absolute;
			content: '';
			background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.24));
			width: 430px;
			height: 246px;
			left: -5px;
			top: -5px;
			filter: opacity(0.2);
		}
	}

	&_bid_content {
		position: absolute;
		width: 100%;
		margin: 0;
		padding: 15px;
	}

	&_artname {
		font: {
			family: $font_rajdhani;
			size: calc(23.04rem / 16);
			weight: 700;
		}
		line-height: calc(46.08rem / 16);
	}

	&_nickname {
		font: {
			family: $font_rajdhani;
			size: calc(20.16rem / 16);
			weight: 600;
		}
		line-height: calc(46.08rem / 16);
	}

	&_theme_title {
		font: {
			family: $font_rajdhani;
			size: calc(14.4rem / 16);
			weight: 600;
		}
		line-height: calc(46.08rem / 16);
		margin: 10px 0 -10px 0;
	}

	&_logo_ethereum {
		margin-left: -4px;
	}

	&_price_ethereum {
		font: {
			family: $font_orbitron;
			size: calc(12.66rem / 16);
			weight: 700;
		}
		padding: {
			left: 2px;
			right: 6px;
		}
	}

	&_price_usd {
		font: {
			family: $font_rajdhani;
			size: calc(14.4rem / 16);
			weight: 400;
		}
	}

	&_auction_time {
		font: {
			family: $font_rajdhani;
			size: calc(23.04rem / 16);
			weight: 600;
		}
		line-height: calc(46.08rem / 16);
		margin: -10px 0 0 0;
	}

	&_auction_time_unit {
		font: {
			family: $font_rajdhani;
			size: calc(14.4rem / 16);
			weight: 500;
		}
		line-height: calc(46.08rem / 16);
		margin: -17px 0 0 0;
	}
}
// NFT Top Now Bid Description Details END