@import url("https://fonts.googleapis.com/css2?family=Aldrich&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@font-face {
  font-family: "Alethia Next";
  src: url("../fonts/alethia-next/alethianext-light.eot"), url("../fonts/alethia-next/alethianext-light.eot?#iefix") format("embedded-opentype"), url("../fonts/alethia-next/alethianext-light.otf") format("opentype"), url("../fonts/alethia-next/alethianext-light-webfont.woff") format("woff"), url("../fonts/alethia-next/alethianext-light-webfont.woff2") format("woff2"), url("../fonts/alethia-next/alethianext-light.ttf") format("truetype");
}
img.nft_logo {
  width: 17px;
  margin-right: 10px;
  box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
  -webkit-backdrop-filter: blur(212.248px);
          backdrop-filter: blur(212.248px);
}

a.navbar-brand, a.nav-link, a:focus.navbar-brand, a:focus.nav-link {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Orbitron", sans-serif;
  font-size: 1.25rem;
}
a:hover.navbar-brand {
  color: rgba(255, 255, 255, 0.6);
  filter: blur(0.5);
}
a:hover.nav-link {
  color: rgb(255, 255, 255);
}

span.nft_brand {
  color: rgb(255, 255, 255);
}

.nft_spacer {
  width: 16.2%;
}

.hero {
  margin-top: 105px;
  color: rgb(255, 255, 255);
}
.hero h1 {
  line-height: 137.4%;
  font-family: "League Spartan", sans-serif;
  font-size: 4.125rem;
  font-weight: 500;
}
.hero span {
  background: linear-gradient(272.38deg, #43A5E3 46.06%, #FF56F6 81.53%);
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.hero p.nft_intro {
  line-height: 2.75rem;
  margin: 21px 0 43px 0;
  font-family: "Rajdhani", sans-serif;
  font-size: 1.6875rem;
}
.hero p.nft_counter {
  padding-top: 1px;
  margin-bottom: -16px;
  font-family: "Aldrich", sans-serif;
  font-size: 2.5rem;
}
.hero p.nft_counter_subject {
  margin-bottom: 0;
  padding-bottom: 5px;
  font-family: "Alethia Next", sans-serif;
  font-size: 1.125rem;
}

.nft_polygon_block {
  display: flex;
  flex-wrap: nowrap;
}

a.nft_create {
  background: linear-gradient(89.89deg, #42A6E3 2.33%, #FF56F6 101.4%);
  color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  padding-top: 1.1rem;
  text-decoration: none;
  font-family: "Orbitron", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
}
a.nft_create:hover {
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.nft_counter_border_right {
  border-right: solid 1px rgba(255, 255, 255, 0.26);
}

.nft_hero_bid_mask {
  width: 401.28px;
  height: 477.33px;
  filter: drop-shadow(0 3px 3px rgb(0, 0, 0));
}

.nft_partners {
  filter: opacity(50%);
  margin: 100px 0 200px 0;
}
.nft_partners img {
  max-width: 100%;
}

.nft_polygon_shadow {
  float: left;
  margin: -17.5px 0 0 -23px;
  width: 300px;
  height: 100px;
  border-radius: 150px/50px;
  background-color: rgba(255, 86, 246, 0.51);
  filter: blur(107px);
}

.nft_polygon {
  position: relative;
  -webkit-clip-path: polygon(0 22px, 0 65px, 212px 65px, 254px 43px, 254px 0, 42px 0);
          clip-path: polygon(0 22px, 0 65px, 212px 65px, 254px 43px, 254px 0, 42px 0);
  width: 254px;
  height: 65px;
  background: linear-gradient(to right, #FFA6FA 47.49%, #3C79D5 98.81%);
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
}

.nft_polygon1 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-clip-path: polygon(2px 23px, 2px 63px, 211px 63px, 252px 42px, 252px 2px, 42px 2px);
          clip-path: polygon(2px 23px, 2px 63px, 211px 63px, 252px 42px, 252px 2px, 42px 2px);
  background: linear-gradient(to right, #406AFF 0%, #3BACE2 0%, #B936EE 50%, #FF56F6 79%);
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  text-align: right;
}
.nft_polygon1:hover {
  -webkit-animation: gradient 3s ease infinite;
          animation: gradient 3s ease infinite;
  transform: translate3d(0, 0, 0);
  background-size: 200% 200%;
  transition: 0.5s;
}

.nft_explore {
  display: flex;
  margin: auto;
  color: rgb(255, 255, 255);
  -moz-column-gap: 11px;
       column-gap: 11px;
  width: 100%;
  justify-content: flex-end;
  padding-right: 32px;
  font-family: "Orbitron", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
}

.nft_hero_placebid {
  font-family: "Rajdhani", sans-serif;
  font-size: 1.105625rem;
  font-weight: 600;
  padding: 3px 8px 0 10px;
}
.nft_hero_placebid_btn {
  width: 100%;
  height: 100%;
  background: linear-gradient(92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
  border-radius: 2.21px;
  border: none;
  outline: none;
  padding: 0;
  align-items: center;
}
.nft_hero_placebid_btn:hover {
  -webkit-animation: gradient 3s ease infinite;
          animation: gradient 3s ease infinite;
  transform: translate3d(0, 0, 0);
  background-size: 200% 200%;
  transition: 0.5s;
}
.nft_hero_placebid_btn_border {
  width: 119.39px;
  height: 37.59px;
  background: linear-gradient(104deg, #3C79D4 0%, #FFA6FA 100%);
  margin-top: 20px;
  padding: 2.21px;
  border-radius: 2.21px;
}

.nft_topnow_placebid {
  font-family: "Rajdhani", sans-serif;
  font-size: 1.44rem;
  font-weight: 600;
  padding: 3px 12px 0 10px;
}
.nft_topnow_placebid_btn {
  width: 100%;
  height: 100%;
  background: linear-gradient(92.23deg, #FF56F6 21.43%, #B936EE 50.63%, #3BACE2 100%, #406AFF 117.04%);
  border: none;
  outline: none;
  padding: 0;
  align-items: center;
}
.nft_topnow_placebid_btn:hover {
  -webkit-animation: gradient 3s ease infinite;
          animation: gradient 3s ease infinite;
  transform: translate3d(0, 0, 0);
  background-size: 200% 200%;
  transition: 0.5s;
}
.nft_topnow_placebid_btn_border {
  width: 155.52px;
  height: 48.96px;
  background: linear-gradient(104deg, #3C79D4 0%, #FFA6FA 100%);
  margin-top: 20px;
  padding: 2.21px;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.nft_hero_bid_mask svg {
  width: 402px;
  height: 478px;
}
.nft_hero_bid_shadow {
  float: right;
  margin: -140px 0 0 0;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-color: rgba(255, 86, 246, 0.51);
  filter: blur(70px);
  z-index: -1;
}
.nft_hero_bid_polygon_blured {
  width: 336px;
  height: 181px;
  background: inherit;
  border-radius: 8px;
  position: absolute;
  -webkit-clip-path: polygon(0 46px, 0 181px, 336px 181px, 336px 0, 46px 0);
          clip-path: polygon(0 46px, 0 181px, 336px 181px, 336px 0, 46px 0);
  overflow: hidden;
  top: 360px;
  right: 0;
}
.nft_hero_bid_polygon_blured::before {
  position: absolute;
  content: "";
  background: inherit;
  width: 336px;
  height: 181px;
  box-shadow: inset 0 0 0 3000px rgba(150, 150, 150, 0.192);
  filter: blur(10px);
  border-radius: 8px;
  -webkit-clip-path: polygon(0 46px, 0 181px, 336px 181px, 336px 0, 46px 0);
          clip-path: polygon(0 46px, 0 181px, 336px 181px, 336px 0, 46px 0);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.nft_hero_bid_polygon_gradient {
  position: absolute;
  width: 335px;
  height: 181px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-clip-path: polygon(0 46px, 0 181px, 335px 181px, 335px 0, 46px 0);
          clip-path: polygon(0 46px, 0 181px, 335px 181px, 335px 0, 46px 0);
  border-width: 2px;
  border-style: solid;
  -o-border-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.28), rgba(255, 255, 255, 0)) 1;
     border-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.28), rgba(255, 255, 255, 0)) 1;
}
.nft_hero_bid_polygon_gradient::before {
  position: absolute;
  content: "";
  background: linear-gradient(to right, rgba(153, 50, 204, 0.5), rgba(255, 255, 255, 0.2));
  width: 335px;
  height: 181px;
  left: 0;
  top: 0;
  filter: opacity(0.5);
}
.nft_hero_bid_content {
  margin: 0;
  width: 292px;
  height: 134px;
  z-index: 1;
}
.nft_hero_bid_content::before {
  position: absolute;
  content: "";
  width: 65px;
  height: 2px;
  top: 21px;
  left: -11px;
  transform: rotate(-45deg);
  background: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.28));
}
.nft_hero_artname {
  font-family: "Rajdhani", sans-serif;
  font-size: 1.105625rem;
  font-weight: 700;
  line-height: 2.210625rem;
}
.nft_hero_nickname {
  font-family: "Rajdhani", sans-serif;
  font-size: 0.9675rem;
  font-weight: 600;
  line-height: 2.210625rem;
}
.nft_hero_theme_title {
  font-family: "Rajdhani", sans-serif;
  font-size: 0.690625rem;
  font-weight: 600;
  line-height: 2.210625rem;
  margin: 10px 0 -10px 0;
}
.nft_hero_logo_ethereum {
  margin-left: -4px;
}
.nft_hero_price_ethereum {
  font-family: "Orbitron", sans-serif;
  font-size: 0.6075rem;
  font-weight: 700;
  padding-left: 2px;
  padding-right: 6px;
}
.nft_hero_price_usd {
  font-family: "Rajdhani", sans-serif;
  font-size: 0.690625rem;
  font-weight: 400;
}
.nft_hero_auction_time {
  font-family: "Rajdhani", sans-serif;
  font-size: 1.105625rem;
  font-weight: 600;
  line-height: 2.210625rem;
  margin: -10px 0 0 0;
}
.nft_hero_auction_time_unit {
  font-family: "Rajdhani", sans-serif;
  font-size: 0.690625rem;
  font-weight: 500;
  line-height: 2.210625rem;
  margin: -17px 0 0 0;
}

.nft_topnow img {
  max-width: 420px;
}
.nft_topnow_bid_blured {
  width: 420px;
  height: 236px;
  position: relative;
}
.nft_topnow_bid_blured::before {
  position: absolute;
  content: "";
  width: 420px;
  height: 236px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.nft_topnow_bid_gradient {
  position: absolute;
  width: 420px;
  height: 236px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 3px;
  border-style: solid;
  -o-border-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.28), rgba(255, 255, 255, 0)) 1;
     border-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.28), rgba(255, 255, 255, 0)) 1;
}
.nft_topnow_bid_gradient::before {
  position: absolute;
  content: "";
  background: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0.24));
  width: 430px;
  height: 246px;
  left: -5px;
  top: -5px;
  filter: opacity(0.2);
}
.nft_topnow_bid_content {
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 15px;
}
.nft_topnow_artname {
  font-family: "Rajdhani", sans-serif;
  font-size: 1.44rem;
  font-weight: 700;
  line-height: 2.88rem;
}
.nft_topnow_nickname {
  font-family: "Rajdhani", sans-serif;
  font-size: 1.26rem;
  font-weight: 600;
  line-height: 2.88rem;
}
.nft_topnow_theme_title {
  font-family: "Rajdhani", sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 2.88rem;
  margin: 10px 0 -10px 0;
}
.nft_topnow_logo_ethereum {
  margin-left: -4px;
}
.nft_topnow_price_ethereum {
  font-family: "Orbitron", sans-serif;
  font-size: 0.79125rem;
  font-weight: 700;
  padding-left: 2px;
  padding-right: 6px;
}
.nft_topnow_price_usd {
  font-family: "Rajdhani", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
}
.nft_topnow_auction_time {
  font-family: "Rajdhani", sans-serif;
  font-size: 1.44rem;
  font-weight: 600;
  line-height: 2.88rem;
  margin: -10px 0 0 0;
}
.nft_topnow_auction_time_unit {
  font-family: "Rajdhani", sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 2.88rem;
  margin: -17px 0 0 0;
}

@media screen and (max-width: 992px) {
  .nft_hero_bid_mask svg {
    width: 334px;
  }
  .nft_hero_bid_polygon_blured {
    left: 55%;
    top: 77%;
    transform: translate(-45%, -23%);
  }
}
body {
  width: 100%;
  height: 100%;
  background-color: rgb(1, 32, 76);
  background-image: url("../img/bg.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  background-image: url(../img/bg.jpg);
  background-position: center top;
  background-size: cover;
}

a.nft_nodecor_white {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.nft_white {
  color: rgb(255, 255, 255);
}

h2,
span.nft_view_all {
  color: rgb(255, 255, 255);
  margin: 0;
  font-family: "Orbitron", sans-serif;
  font-size: 1.658125rem;
  font-weight: 700;
}/*# sourceMappingURL=main.css.map */